<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Pica-Pau</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-button fill="outiline" color="light" size="small" routerLink=""><p>Voltar</p></ion-button>

  <ion-card color="danger">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/6tsJ7nIcB5OdoyRS1hOJLwGjpBe.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h2> O Novo Show do Pica-Pau<span>(1999)</span></h2>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo"></span> <span class="duracao"></span>
        <p>  Família, Animação, Comédia </p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
      <p>O Novo Show do Pica-Pau, é uma nova série de desenhos animados do personagem Pica-Pau.</p>
      </div>
    </ion-item>

  </ion-card>
