<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>FROZEN 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-button fill="outiline" color="light" size="small" routerLink="">
    <p>Voltar</p>
  </ion-button>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/2niqBT3WmbsR8fy07URik6fFJIf.jpg">
    </ion-card-header>

    <ion-item color="dark">
      <h2> Frozen 2<span>(2019)</span></h2>
    </ion-item>

    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">PG </span> <span class="duracao">1h 44m</span>
        <p> Animação, Família, Aventura </p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>De volta à infância de Elsa e Anna, as duas garotas descobrem uma história do pai,
          quando ainda era príncipe de Arendelle. Ele conta às meninas a história de uma visita
          à floresta dos elementos, onde um acontecimento inesperado teria provocado a separação
          dos habitantes da cidade com os quatro elementos fundamentais: ar, fogo, terra e água.
          Esta revelação ajudará Elsa a compreender a origem de seus poderes.</p>
      </div>
    </ion-item>


  </ion-card>
</ion-content>