<ion-header>
  <ion-toolbar color="success">
    <ion-title>Breaking Bad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-button fill="outiline" color="light" size="small" routerLink="">
    <p>Voltar</p>
  </ion-button>

  <ion-card color="dark">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/30erzlzIOtOK3k3T3BAl1GiVMP1.jpg">
    </ion-card-header>

    <ion-button color="danger" size="small">ASSISTIR</ion-button>
    <ion-button fill="outline" color="light" size="small">EPISÓDIOS</ion-button>

    <ion-item color="dark">
      <h2> Breaking Bad - A Química do Mal<span>(2008)</span></h2>
    </ion-item>


    <ion-item color="medium">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA </span> <span class="duracao">45m</span>
        <p> Drama </p>
      </div>
    </ion-item>

    <ion-item color="dark">
      <div>
        <h2>Sinopse</h2>
        <p>Ao saber que tem câncer, um professor passa a fabricar metanfetamina pelo futuro da família,
          mudando o destino de todos.</p>
      </div>
    </ion-item>
  </ion-card>