<ion-header>
  <ion-toolbar color="warning">
      <ion-title>
        SÉRIES
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="dark">
  
     <ion-col routerLink="/the100"> 
      <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/zvZeHqaN1QH43qM622oDQF10VTi.jpg">
     </ion-col>

     <ion-item color="dark">
      <h2> THE 100<span>(2014)</span></h2>
    </ion-item>


          <ion-col routerLink="/breaking-bad">
          <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/wKHImjeHwVIiWJWFIJtWUKkA5QJ.jpg">
          </ion-col>

         <ion-item color="dark">
          <h2> Breaking Bad <span>(2008)</span></h2>
        </ion-item>

</ion-content>
  