<ion-header>
<ion-toolbar color="light">
    <ion-title>
      AD Astra
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">
  <ion-button fill="outiline" color="light" size="small" routerLink=""><p>Voltar</p></ion-button>

  <ion-card color="dark">
  <ion-card-header>
    <img src="https://image.tmdb.org/t/p/w533_and_h300_bestv2/duengnNbJdTdjR329SmAAJO4stC.jpg">
   </ion-card-header>

   <ion-item color="dark">
    <h2> AD Astra<span>(2019)</span></h2>
  </ion-item>

  <ion-item color="medium">
    <div class="info ion-text-center">
      <span class="tipo">PG-13 </span> <span class="duracao">2h 3m</span>
      <p> Ficção científica, Drama  </p>
    </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Roy McBride é um engenheiro espacial, portador de um leve grau de autismo, 
        que decide empreender a maior jornada de sua vida: viajar para o espaço, cruzar 
        a galáxia e tentar descobrir o que aconteceu com seu pai, um astronauta que se perdeu
        há vinte anos atrás no caminho para Netuno.</p>
    </div>
  </ion-item>

  
  </ion-card>
</ion-content>

