<ion-header>
  <ion-toolbar color="dark">
    <ion-title color="light">Rick And Morty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-button fill="outiline" color="light" size="small" routerLink=""><p>Voltar</p></ion-button>

  <ion-card color="light">
    <ion-card-header>
      <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/eFUrBaqrypHEHeRGJxuZt3650oQ.jpg">
    </ion-card-header>

    <ion-item color="light">
      <h2> Rick And Morty<span>(2013)</span></h2>
    </ion-item>

    <ion-item color="dark">
      <div class="info ion-text-center">
        <span class="tipo">TV-MA </span> <span class="duracao">22m</span>
        <p>  Animação, Comédia, Sci-Fi & Fantasy, Action & Adventure  </p>
      </div>
    </ion-item>

    <ion-item color="light">
      <div>
        <h2>Sinopse</h2>
      <p color="light">Rick é um velho mentalmente desequilibrado, mas cientificamente talentoso que se reconectou
           recentemente com sua família. Ele passa a maior parte do tempo envolvendo o jovem neto Morty
           em aventuras perigosas e estranhas no espaço e em universos alternativos. Compostos à vida
           familiar já instável de Morty, esses eventos causam muito sofrimento a Morty em casa e na
           escola.</p>
      </div>
    </ion-item>

  </ion-card>