<ion-header>
  <ion-toolbar color="danger">
    <ion-title>THE 100</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-button fill="outiline" color="light" size="small" routerLink=""><p>Voltar</p></ion-button>

  <ion-card color="dark">
  <ion-card-header>
    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/wBzNjurA8ijJPF21Ggs9nbviIzi.jpg">
   </ion-card-header>

   <ion-button color="danger" size="small">ASSISTIR</ion-button>
   <ion-button fill="outline" color="light" size="small">EPISÓDIOS</ion-button>

   <ion-item color="dark">
    <h2> The 100<span>(2014)</span></h2>
  </ion-item>

  <ion-item color="medium">
    <div class="info ion-text-center">
      <span class="tipo">TV-14 </span> <span class="duracao">43m</span>
      <p>  Sci-Fi & Fantasy, Drama, Action & Adventure </p>
    </div>
  </ion-item>

  <ion-item color="dark">
    <div>
      <h2>Sinopse</h2>
      <p>Quase 100 anos após um apocalipse nuclear devastar a Terra, 100 sobreviventes de uma estação
         espacial voltam para avaliar as condições do planeta.</p>
    </div>
  </ion-item>
</ion-card>
